.DS_Store
applet
AdventureEditor/linux-arm64
AdventureEditor/linux-armv6hf
AdventureEditor/linux32
AdventureEditor/linux64
AdventureEditor/windows32
AdventureEditor/windows-amd64
AdventureEditor/macosx
out